<!-- 
cdk-virtula-scroll-viewport displays large lists of elements performantly by only rendering the items 
that fit on-screen.

*cdkVirtualFor is used in the place of *ngFor

Following imports are added in 'app.module.ts':-
FormsModule
ReactiveFormsModule
MatFormFieldModule
MatSelectModule
ScrollingModule
-->

<mat-form-field appearance='fill'>
    <mat-label>Items</mat-label>
    <mat-select>
        <cdk-virtual-scroll-viewport itemSize='50' class='dropdown-viewport'>
            <mat-option *cdkVirtualFor='let item of items' class='dropdown-item' [value]='item.title'>
                {{item.title}}
            </mat-option>
        </cdk-virtual-scroll-viewport>
    </mat-select>
</mat-form-field>
